@use '../../styles/mixins' as *;

.base {
  font-family: 'Inter';
  font-size: var(--onyx-font-size-primary);
  padding: toRem(12) var(--onyx-spacing-3);
  border-radius: var(--onyx-radius-1);
  background: 0;
  border: 0;
  font-weight: 500;
  cursor: pointer;
}

.primary {
  background: var(--onyx-color-theme-primary);
  color: var(--onyx-color-theme-foreground);
  transition: background 300ms;

  &:not(.disabled):hover {
    background: var(--onyx-color-theme-primary-hover);
  }
}

.secondary {
  color: var(--onyx-color-theme-primary);
  border: 1px solid var(--onyx-color-theme-primary);
}

.ghost {
  color: var(--onyx-color-theme-primary);
  border: 0;

  &:not(.disabled):hover {
    text-decoration: underline;
  }
}

.disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.small {
  padding: var(--onyx-spacing-2) toRem(12);
  font-size: var(--onyx-font-size-secondary);
}
